

<footer id="footer" class="footer bg-whitesmoke">

    <div class="inner md:flex justify-between items-center py-10 pl-4 md:pl-32 pr-4">

        <ul class="flex flex-col lg:flex-row text-acadia text-sm pb-8 md:pb-0">
            <li>© Copyright 2021 Devillion Ltd.</li>
            <li class="block lg:inline lg:pl-10">
                <dl>
                    <dt class="inline pr-2">Company Number:</dt>
                    <dd class="inline">820 1421</dd>
                </dl>
            </li>
            <li class="block lg:inline lg:pl-10">
                <dl>
                    <dt class="inline pr-2">VAT Number:</dt>
                    <dd class="inline">143 3091 41</dd>
                </dl>
            </li>
        </ul>



        {% include 'components/social-icons.njk' %}

    </div>

</footer>

