<header id="header" class="header bg-whitesmoke relative">

    <div class="inner flex flex-row md:flex-col md:justify-between p-4 sm:p-4 md:p-6 lg:p-6 xl:px-0 xl:py-6 relative">
        <div class="header-arc absolute top-0 hidden md:block">
            <svg visibility="hidden">
                <circle cx="0" cy="0" r="90" stroke="#f5a8b4" stroke-width="36" fill="transparent" />
            </svg>
        </div>

        <div class="header-pattern pattern-acadia-diag-lines absolute top-0 w-32 hidden md:block"></div>

    	{% include "components/logo.njk" %}
    	{% include 'components/nav.njk' %}
        {% include "components/mobile-nav.njk" %}
    </div>

</header>
