
//==========  Decoration ==========//

.header-arc {
    height: 110px;
    right: 117px;
    overflow: hidden;
    svg {
        position: relative;
        top: -100%;
    }
}

.pattern-white-diag-lines {
    opacity: 0.5;
    background-image: repeating-linear-gradient(-45deg,
      white 0,
      white 1px,
      transparent 0,
      transparent 12.75px);
    background-size: 18px 18px;
}

.header-pattern {
    height: 120px;
    right: 24px;
}

.pattern-acadia-diag-lines {
    opacity: 0.5;
    background-image: repeating-linear-gradient(-45deg,
      rgba(30,48,63,.7) 0,
      rgba(30,48,63,.7) 1.5px,
      transparent 0,
      transparent 11px);
    background-size: 15px 15px;
}

.pattern-acadia-diag-lines-narrow {
    background-image: repeating-linear-gradient(-45deg,
      rgba(30,48,63,.3) 0,
      rgba(30,48,63,.3) 1.5px,
      white 0,
      white 8px);
    background-size: 11px 11px;
}

.triangle {
  display: block;
  position: absolute;
  top: 58px;
  border-top: 16px solid $wewak;
  border-right: 24px solid transparent;
}


