---
layout: default
meta_title: Accessibility
meta_description: Accessibility page description
body_class: accessibility
title: Accessibility
---

<main id="main" class="main inner flex flex-1 flex-col md:py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title"><span class="font-bold text-wewak">1 in 5</span> people in the UK have a long term illness, impairment or disability.</h1>
            <span class="pattern absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Many more have a temporary disability. </strong><br>This could range from restricted movement because of a broken arm or blurred vision because of an eye problem.</h2>

            <div class="inner-content pr-4 md:pr-32">
                <p>Common problems that can prevent people from being able to use (or access the content on your website) include:</p>

                <ul class="mb-12 list-disc pl-4"><li>Users needing a mouse to move around the website</li><li>Users not being able to see part of the website on their SmartPhone</li><li>Users not being able to read the text because of the colour of the background</li><li>Content that does not allow people to use their screen readers</li></ul>

                <p>When we talk about accessibility, we are particularly thinking about users with:</p>

                <ul class="mb-12 list-disc pl-4"><li>impaired vision</li><li>motor difficulties</li><li>cognitive impairments or learning disabilities</li><li>deafness or impaired hearing</li></ul>



            </div>

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Impairments and tech.</strong></h2>

            <div class="inner-content pr-4 md:pr-32">

                <p>It means making your website clear and easy to use, while supporting those who need to adapt things for their personal needs.</p>

                <p>Someone with impaired vision might use:</p>

                <ul class="mb-12 list-disc pl-4">
                    <li>a screen reader (software that lets a user navigate a website and ‘read out’ the content)</li>
                    <li>braille display</li>
                    <li>screen magnifier</li>
                </ul>

                <p>Someone with motor difficulties might use:</p>

                <ul class="mb-12 list-disc pl-4">
                    <li>a special mouse</li>
                    <li>speech recognition software</li>
                    <li>on-screen keyboard emulator</li>
                </ul>

                <p><a href="#">We can help</a></p>



            </div>














        </div>

    </article>

</main>
