---
layout: default
meta_title: Accessibility
meta_description: Accessibility page description
body_class: accessibility
title: Accessibility
---

<main id="main" class="main inner flex flex-1 flex-col md:py-6 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title"><span class="font-bold text-wewak">1 in 5</span> people in the UK have a long term illness, impairment or disability.</h1>
            <span class="pattern-white-diag-lines absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Many more have a temporary disability. </strong><br>This could range from restricted movement because of a broken arm or blurred vision because of an eye problem.</h2>

            <div class="inner-content pr-4 md:pr-32">
                <p>We often think about users with a disability as needing assistance to access websites, but there are common problems that can prevent many people from being able to use your website including:</p>

                <ul class="mb-12 list-disc pl-10">
                    <li>users needing a mouse to move around the website</li>
                    <li>users not being able to see part of the website on their mobile phone</li>
                    <li>users not being able to read the text because of the colour of the background</li>
                    <li>screen readers unable to access content</li>
                </ul>

                <p>We can <a href="/services#accessibility-review">help you identify</a> where people may struggle with your website and <a href="/services#front-end-development">fix any problems</a> to make your website accessible. Sometimes it can be as simple as changing the font or the background colour to make it easier to read.</p>

                <p>Your website could be missing elements that mean users cannot navigate between sections and headings, complete a contact form or click on a telephone number to call you.</p>

                <p>Users might not be able to read sections or see options to click on because they do not display correctly on their device.</p>

                <div class="px-6 py-4 bg-wewak w-56 inline-block relative z-10">
                    <span class="font-bold">Remember</span>
                    <span class="triangle"></span>
                </div>

                <h3 class="relative -top-5 bg-whitesmoke text-xl font-bold p-4 pt-8 pb-6 pr-10 sm:py-8 md:px-6 md:py-8 pr-4 sm:pr-20 md:pr-36 ml-16 sm:ml-28">Making your website accessible means it will work better for everyone.
                    <span class="pattern-acadia-diag-lines-narrow absolute top-0 right-0 w-8 sm:w-16 md:w-32 h-full block"></span>
                </h3>

            </div>

        </div>

    </article>

</main>
