---
layout: default
meta_title: Accessibility
meta_description: Accessibility page description
body_class: accessibility
title: Accessibility
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-32 pr-40 pt-12 pb-20">
            <h1 class="page-title">Make your website <span class="font-bold text-wewak">clear and easy to use</span>, while supporting those who need to adapt things for their personal needs.</h1>
            <span class="pattern absolute top-0 right-0 w-24 h-full block"></span>
        </div>

        <div class="content relative pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-6 pr-32 border-b-8 border-wewak"><strong class="font-bold">The impact of accessible websites.</strong></h2>

            <div class="inner-content pr-32">
                <p>When we talk about accessibility, we are particularly thinking about users with:</p>

                <ul>
                    <li>impaired vision</li>
                    <li>motor difficulties</li>
                    <li>cognitive impairments or learning disabilities</li>
                    <li>deafness or impaired hearing</li>
                </ul>

                <p>Accessibility means more than making information available through your website.</p>

                <p>Remember: The benefit of making a website accessible is that as many people as possible can use it.</p>

            </div>

            <h2 class="font-normal bg-whitesmoke text-2xl p-6 pr-32 border-b-8 border-wewak"><strong class="font-bold">Impairments and tech.</strong></h2>

            <div class="inner-content pr-32">

                <p>It means making your website clear and easy to use, while supporting those who need to adapt things for their personal needs.</p>

                <p>Someone with impaired vision might use:</p>

                <ul>
                    <li>a screen reader (software that lets a user navigate a website and ‘read out’ the content)</li>
                    <li>braille display</li>
                    <li>screen magnifier</li>
                </ul>

                <p>Someone with motor difficulties might use:</p>

                <ul>
                    <li>a special mouse</li>
                    <li>speech recognition software</li>
                    <li>on-screen keyboard emulator</li>
                </ul>

                <p><a href="#">We can help</a></p>



            </div>














        </div>

    </article>

</main>
