---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main id="main" class="main inner flex flex-1 flex-col md:py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title"><span class="font-bold text-wewak">Contact us</span></h1>
            <span class="pattern absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Email us</strong> for more details or <strong class="font-bold">call us</strong> for a chat</h2>

                <div class="inner-content pr-4 md:pr-32">

                    <p>If you have any questions about our services or even just interested in accessibility, we'll be more than happy to have a conversation.</p>

                    <p>Email us on <a href="mailto:hello@devillion.com" target="_blank" class="font-bold">hello@devillion.com</a></p>

                    <p>Call us on <strong class="font-bold">07876082233</strong></p>

                </div>

        </div>



    </article>

</main>

