---
layout: default
meta_title: Home
meta_description: Devillion
body_class: home
title: 1 in 5 people in the UK have a long term illness, impairment or disability.
---

<main id="main" class="main inner flex flex-1 flex-col md:py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title">Is your website <span class="font-bold text-wewak">broken</span>?</h1>
            <span class="pattern absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Your website could be broken and you may not even realise.</strong><br/>We can check your website and make any repairs.</h2>

            <div class="inner-content pr-4 md:pr-32">
                <p>Whilst your website might look good on the screen on your laptop, some people may not be able to read or navigate your website because it is missing things.</p>

                <p>By reviewing a couple of pages of your website, we can easily identify where you have problems that need to be repaired. We can do the work for you and help you to make sure that your website does not break again.</p>

                <h2 class="text-3xl">Making repairs made easy</h2>

                <h3>Making repairs to your website will mean more people can use it.</h3>

                <p>We can complete work without having an impact on the overall look or content of your website, much of our work is done in the background of your website.</p>
            </div>


        </div>

    </section>

</main>


