---
layout: default
meta_title: Home
meta_description: Devillion
body_class: home
title: 1 in 5 people in the UK have a long term illness, impairment or disability.
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <div class="heading-wrapper relative bg-acadia pl-32 pr-40 pt-12 pb-20">
            <h1 class="page-title"><span class="font-bold text-wewak">1 in 5</span> people in the UK have a long term illness, impairment or disability.</h1>
            <span class="pattern absolute top-0 right-0 w-24 h-full block"></span>
        </div>

        <div class="content relative pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-6 pr-32 border-b-8 border-wewak"><strong class="font-bold">Many more have a temporary disability. </strong><br/>This could range from restricted movement because of a broken arm or blurred vision because of an eye problem.</h2>

            <div class="inner-content pr-32">
                <p>Making sure your website can be used easily by as many people as possible and across different types of devices is very important. Common problems that can prevent people from being able to use (or access the content on your website) include:</p>

                <ul class="mb-12 list-disc pl-4">
                    <li>Users needing a mouse to move around the website</li>
                    <li>Users not being able to see part of the website on their SmartPhone</li>
                    <li>Users not being able to read the text because of the colour of the background</li>
                    <li>Content that does not allow people to use their screen readers</li>
                </ul>

                <h2 class="text-3xl">Making your website accessible means it will work better for everyone.</h2>

                <p>By fixing accessibility problems with your website you will often find they are faster, easier to use and appear higher in search engine rankings.</p>
            </div>


        </div>

    </section>

</main>


