---
layout: default
meta_description: Devillion
body_class: home
title: Devillion Web Accessibility. We provide an end-to-end solution to improve the accessibility of your website.
---

<main id="main" class="main inner flex flex-1 flex-col md:py-6 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-6 py-20 md:pt-10 md:pb-24">
            <h1 class="page-title text-2xl md:text-3xl mb-0">Devillion provides an end-to-end solution to <span class="font-bold text-wewak">improve the accessibility</span> of your website.</h1>
            <span class="pattern-white-diag-lines absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32 mb-20">

            <h2 class="font-normal bg-whitesmoke text-xl md:text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak">Through evaluating, repairing code and offering support, we can elevate your website to a <strong class="font-bold">higher standard</strong> of accessibility and inclusion.</h2>

            <div class="inner-content pr-4 md:pr-32">
                <p>Making sure your website can be used easily by as many people as possible and across different types of devices is very important. By fixing accessibility problems with your website you will often find they are faster, easier to use and appear higher in search engine rankings.</p>
                <p>Accessibility problems could be as simple as a menu or button on your website being in a position that means people using a mobile phone cannot see it. </p>
                <p>We have over 15 years experience working with private and public sector organisation, along with central government departments and agencies. This means we can deliver a professional service of the highest standard.</p>
            </div>

            <div class="px-6 py-4 bg-wewak w-56 inline-block relative z-10">
                <span class="font-bold">Did you know?</span>
                <span class="triangle"></span>
            </div>

            <h3 class="relative -top-5 bg-whitesmoke text-xl font-bold p-4 pt-8 pb-6 pr-10 sm:py-8 md:px-6 md:py-8 pr-4 sm:pr-20 md:pr-36 ml-16 sm:ml-28">Many of the <a href="/accessibility">common accessibility problems</a> people face when using websites are easy to fix.
                <span class="pattern-acadia-diag-lines-narrow absolute top-0 right-0 w-8 sm:w-16 md:w-32 h-full block"></span>
            </h3>

            <div class="inner-content pr-4 md:pr-32">
                <p class="font-bold">We offer:</p>
                <ul class="mb-12 list-disc pl-10">
                    <li>front end development</li>
                    <li>accessibility reviews</li>
                    <li>upskilling, planning and support</li>
                </ul>
                <p>Take a step towards making your website a place where everyone feels welcome.</p>
            </div>

            <p>
                <a href="/services" class="button sm:text-left p-4 pr-6 mr-4 sm:mr-0 block sm:inline-block">
                    <span class="text-wewak">&rarr;  </span> Read about our services
                </a>
            </p>

            <div class="pr-4">
                <hr class="border-2 border-wewak mb-6">

                <h3>Trusted by:</h3>

                <ul class="flex flex-wrap md:flex-row md:items-end md:pr-20 lg:pr-26">
                    <li class="mb-8 md:flex-1 md:pr-3 lg:pr-8 md:pb-1 lg:pb-2">
                        <img src="/images/clients/ons.png" class="w-3/5 md:w-auto" alt="Office for National Statistics logo">
                    </li>
                    <li class="mb-8 md:flex-1 md:px-3 lg:px-8 lg:pl-12">
                        <img src="/images/clients/phe.png" class="w-1/2 md:w-auto md:h-20" alt="Public Health England logo">
                    </li>
                    <li class="mb-8 md:flex-1 md:px-3 lg:px-8 lg:pl-12">
                        <img src="/images/clients/dfe.png" class="w-1/2 md:w-auto md:h-20" alt="Department for Education logo">
                    </li>
                    <li class=" md:flex-1 md:pl-3 lg:pl-8 md:pb-5 lg:pb-3 ">
                        <img src="/images/clients/bmj.png" class="w-1/2 md:w-3/5 lg:w-4/5" alt="British Medical Journal logo">
                    </li>
                </ul>
            </div>



        </div>

    </section>

</main>


