---
layout: default
meta_title: Services
meta_description: Services page description
body_class: services
title: Services
---

<main id="main" class="main inner flex flex-1 flex-col md:py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title">We offer services to make your website accessible, <span class="font-bold text-wewak">now and for the future</span> .</h1>
            <span class="pattern-white-diag-lines absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Front end accessibility development</h2>

                <div class="inner-content pr-4 md:pr-32">

                <p class="hidden">
                General what this is<br>
                What we do<br>
                How we do it / standards / front end experience<br>
                The importance of integration and team work.<br>
                Upskilling / going forwards / support<br>
                </p>

                <p>We provide front end accessibility development to make your website accessible and meet the latest WCGA standards. Working from either an existing audit, backlog or our own review, we can help you to prioritise work and develop a strategic plan to improve your website’s accessibility.</p>

                <p>Your website can be built with Wordpress, React, R Shiny, .net, Jamstack or Joomla. We're comfortable with most web stacks and their front end components.</p>

                <p>Devillion has over 15 years of front end development experience, working in the trenches with development teams of all shapes, sizes and technology choices. We understand the importance of team work, ownership and respect.</p>

                <h3>Upskilling and future support</h3>

                <p>We can also support you with the upskilling of your team to make sure you continue to develop your website content in an accessible way.</p>

                <p>We'll happily provide accessibility guidance and support for your team going forward.</p>

            </div>

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Web accessibility review</h2>

            <div class="inner-content pr-4 md:pr-32">

                <p class="hidden">
                General what this does.<br>
                What we do<br>
                How we do it and standards<br>
                What it will show us<br>
                What you will get / we will give you
                </p>

                <p>We conduct web accessibility reviews to assess where your website presents problems for users.</p>

                <p>As a first step, we will look at a page that shows the variation in content and functionality of your website. Checking a page or two usually reveals issues that are present across your whole website.</p>

                <p>Depending on your website’s content and functionality we will use appropriate methods to check accessibility. This generally includes a combination of automatic tools and manual checks. All methods involve checking your page against the international WCAG 2.1 AA accessibility standard.</p>

                <p>Whether it's a quick review or in-depth audit, we'll provide you with a report highlighting all the issues we've found and suggestions of how to fix them.</p>

            </div>

        </div>

    </article>

</main>
