---
layout: default
meta_title: Services
meta_description: Services page description
body_class: services
title: Services
---

<main id="main" class="main inner flex flex-1 flex-col md:py-10 lg:py-4 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="heading-wrapper relative bg-acadia pl-4 md:pl-32 pr-20 md:pr-40 pt-12 pb-20">
            <h1 class="page-title"><span class="font-bold text-wewak">Review and repair.</span> We find out what's broken and then we'll repair it.</h1>
            <span class="pattern absolute top-0 right-0 w-16 md:w-24 h-full block"></span>
        </div>

        <div class="content relative pl-4 md:pl-32">

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Website accessibility review</h2>

            <div class="inner-content pr-4 md:pr-32">

                <p>We conduct accessibility checks to assess where your website presents problems for users.</p>

                <p>We will look at a sample that shows the variation in content and functionality of your website. By finding problems in a sample, we can make recommendations we can make to fix many of the issues present across your whole website.</p>

                <p>Checking a page or two usually reveals issues that are present across your whole website. </p>

                <p>Depending on your website’s content and functionality we will use appropriate methods to check accessibility. All methods involve checking your sample against the international WCAG 2.1 AA accessibility standard.</p>

            </div>

            <h2 class="font-normal bg-whitesmoke text-2xl p-4 md:p-6 pr-4 md:pr-32 border-b-8 border-wewak"><strong class="font-bold">Website accessibility repair</h2>

                <div class="inner-content pr-4 md:pr-32">

                <p>We can help you to prioritise work and develop a strategic plan to improve your website’s accessibility.</p>

                <p>We can carry out the work by embedding ourselves within your team to fix accessibility issues across your website. </p>

                <p>We can also support you with the upskilling of your team to make sure you continue to develop your website content in an accessible way. </p>

            </div>


        </div>

    </article>

</main>
